$primary-color: #007bff; /* Основной цвет */
$secondary-color: #28a745; /* Вторичный цвет */
$text-color: #333;
$background-color: #f4f4f4;
$footer-background: #333;
$button-hover-color: #0056b3;

// Шрифты
$base-font: 'Arial', sans-serif;
$header-font: 'Helvetica', sans-serif;

// Размеры
$max-width: 1440px;
$padding: 20px;